<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Supermercado Antojitos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/lista"><i class="fa fa-users" aria-hidden="true"></i>  Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listaproductos"><i class="fa fa-list" aria-hidden="true"></i>  Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listaventas"><i class="fa fa-list" aria-hidden="true"></i>  Ventas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<router-outlet> </router-outlet>
